
body {
  background: #1976D2;
  font-family: 'Raleway', sans-serif;
  color: #F5F5F5;
  text-align: center;
  padding: 0;
  margin: 0;
}

#header {
  background: #F5F5F5;
  color: #455A64;
  height: 75px;
  padding-left: 40px;
  padding-right: 40px;
}

#header h2{
  float: left;
}

#header ul{
  float: right;
  list-style-type: none;
}

#header ul li {
  float: right;
  height: inherit;
  vertical-align: bottom;
  padding: 7px;
}

#header ul li a{
  text-decoration: none;
  font-size: 15px;
  color: #455A64;
}

#header ul li a:hover {
  color: #1976D2;
  font-weight: 700;
}
